template MyTemplate
{
    project "$(MODULE_NAME) : project"
    project "$(MODULE_NAME).Tests : project.tests"

    settings project
    {
        include files =
        [
            glob "Resources/$(MODULE_NAME)/Code/**/*.{cs,txt,json,xml,md}",
            glob "Resources/$(MODULE_NAME)/**/*.{txt,json,xml,md,module}",
            !glob "**/Tests/**",
            !glob "**/obj/**",
        ]

        lib search paths +=
        [
            Resources/Libs,
        ]

        lib refs +=
        [
            Sprache.dll,
        ]

        define constants +=
        [
            DEFINE_A,
            DEFINE_B,
        ]

        if (debug)
        {
            debug symbols = true
            debug type = full
            optimize = false

            define constants +=
            [
                DEBUG,
                TRACE,
            ]
        }

        if (release)
        {
            debug symbols = false
            debug type = pdbonly
            optimize = true

            define constants +=
            [
                RELEASE,
            ]
        }

        if (test)
        {
            define constants +=
            [
                TEST,
            ]
        }

        custom csproj contents +=
        [
            xml
            """
            <Target Name="AfterBuild">
                <ExampleTask />
            </Target>
            """,
        ]
    }

    settings project.tests : project
    {
        // Clear the inherited files
        include files = none

        if (no-tests) exclude

        if (test)
        {
            include files =
            [
                glob "Resources/$(MODULE_NAME)/Code/**/Tests/**/*.{cs,txt,json,xml,md}",
                !glob "**/obj/**",
            ]

            project refs +=
            [
                $(MODULE_NAME),
            ]
        }
    }
}
